<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <description>Spring MVC Configuration</description>

    <!-- 启用spring mvc 注解, 默认的注解映射的支持 -->
    <mvc:annotation-driven/>

    <!-- 自动扫描该包，使SpringMVC认为包下用了@controller注解的类是控制器 -->
    <context:component-scan base-package="com.springmvc.controller"/>

    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="defaultLocale" value="zh_CN"/>
    </bean>

    <mvc:interceptors>
        <!--<mvc:interceptor>-->
        <!--&lt;!&ndash;-->
        <!--/*只能拦截/name，即一层-->
        <!--下面拦截任意包任意层-->
        <!--&ndash;&gt;-->
        <!--<mvc:mapping path="/**/*"/>-->
        <!--<bean class="com.springmvc.controller.MethodTimerInterceptor">-->

        <!--</bean>-->
        <!--</mvc:interceptor>-->

        <mvc:interceptor>
            <!--开放登录权限-->
            <mvc:mapping path="/**/*"/>
            <!--排除登录URL-->
            <mvc:exclude-mapping path="/login"/>
            <mvc:exclude-mapping path="/reg"/>
            <mvc:exclude-mapping path="/forget"/>
            <mvc:exclude-mapping path="/loginTest"/>
            <mvc:exclude-mapping path="/regTest"/>
            <mvc:exclude-mapping path="/sendVerifyCodeToEmail"/>
            <mvc:exclude-mapping path="/emailVerifyCodeTest"/>
            <mvc:exclude-mapping path="/resetPassword"/>
            <mvc:exclude-mapping path="/formRepeatSubmit"/>
            <bean class="com.springmvc.controller.interceptor.LoginInterceptor"/>

        </mvc:interceptor>

        <mvc:interceptor>
            <!--拦截修改页面-->
            <mvc:mapping path="/*/modify"/>
            <!--排除登录URL-->

            <bean class="com.springmvc.controller.interceptor.AuthorityInterceptor"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <bean class="com.springmvc.controller.interceptor.TokenInterceptor" />
        </mvc:interceptor>

        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"/>
    </mvc:interceptors>

    <!-- 支持返回json(避免IE在ajax请求时，返回json出现下载文件 ) -->
    <bean id="mappingJacksonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
                <value>text/json;charset=UTF-8</value>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射， 配置一个基于注解的定制的WebBindingInitializer，解决日期转换问题，方法级别的处理器映射 -->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="cacheSeconds" value="0"/>
        <property name="messageConverters">
            <list>
                <ref bean="mappingJacksonHttpMessageConverter"/><!-- json转换器 -->
            </list>
        </property>
    </bean>

    <!-- 默认的视图解析器  -->
    <bean id="defaultViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:order="3">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="contentType" value="text/html"/>
        <property name="prefix" value="/WEB-INF/page/"/>
        <property name="suffix" value=".jsp"/><!--可为空,方便实现自已的依据扩展名来选择视图解释类的逻辑  -->
    </bean>


    <!-- 配置springMVC处理上传文件的信息 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="10485760000"/>
        <property name="maxInMemorySize" value="40960"/>
    </bean>

    <!-- Bean解析器,级别高于默认解析器,寻找bean对象进行二次处理 -->
    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver" p:order="0"/>

    <!-- 对静态资源文件的访问， 将无法mapping到Controller的path交给default servlet handler处理 -->
    <mvc:default-servlet-handler/>
    <!-- 静态资源映射 -->
    <!--<mvc:resources mapping="/static/**" location="/static/" cache-period="31536000"/>-->

    <!-- 对静态资源放行  -->
    <mvc:resources mapping="/static/**" location="/static/"/>
    <!--<mvc:resources location="/static/css/" mapping="/css/**"/>-->
    <!--<mvc:resources location="/static/js/" mapping="/js/**"/>-->
    <!--<mvc:resources location="/static/fonts/" mapping="/fonts/**"/>-->
    <!--<mvc:resources location="/static/img/" mapping="img/**"/>-->
</beans>