<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jzy.dao.TitleMapper">
    <resultMap id="BaseResultMap" type="com.jzy.entity.Title">
        <id column="title_id" property="titleId" jdbcType="INTEGER"/>
        <result column="title_name" property="titleName" jdbcType="VARCHAR"/>
        <result column="title_remark" property="titleRemark" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectAllTitle" resultMap="BaseResultMap">
        select * from title;
    </select>
    <select id="selectAllTitleName" resultType="string">
        select title_name from title;
    </select>
</mapper>